.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.calc-body {
  background-color: lightgrey;
  border: 8px solid;
  border-radius: 20px;
  border-color: indigo;
  padding: 0
}

.result-header {
  background-color: darkslateblue;
  border-bottom: 8px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: indigo;
  padding: 0.8em 0.75em
}


.result {
  background-color: white;
  border: 5px solid;
  border-color: indigo;
  border-radius: 10px;
  padding: 0.5em;
  color: indigo;
  width: 300px;
  height: 3em;
  text-align: center; 
}


.group {
  display: inline-flex;
  gap: 8px;
  align-items: center
}

.input {
  margin: 0.8em 0;
  background-color: lightgrey;
  border: 3px solid;
  border-color: indigo;
  border-radius: 8px;
  color: indigo;
  width: 150px;
  height: 3em;
  text-align: center;
  font-size: 0.6em;
  font-weight: bolder;
}

#clear, #add, #subtract, #multiply, #divide {
  font-weight: bolder;
  font-size: 1em;
}

.operators {
  margin: 0.5em 0;
  border: 5px solid;
  border-radius: 10px;
  border-color: indigo;
  background-color: darkslateblue;
  width: 60px;
  color: whitesmoke
}

#clear {
  margin-bottom: 0.5em;
  border: none;
  background-color: rgb(97, 2, 2);
  color: rgb(155, 154, 154);
  border-radius: 8px;
  padding: 5px 15px;
}